if TARGET_COOLPI_RK3588_CM5TS

config SYS_BOARD
	default "coolpi_rk3588_cm5ts"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "coolpi_rk3588_cm5ts"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
