if TARGET_COOLPI_RK3566_CP3B1

config SYS_BOARD
	default "coolpi_rk3566_cp3b1"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "coolpi_rk3566_cp3b1"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
