if TARGET_COOLPI_RK3566_AIBOX

config SYS_BOARD
	default "coolpi_rk3566_aibox"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "coolpi_rk3566_aibox"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
