if TARGET_COOLPI_RK3588S_CP4B

config SYS_BOARD
	default "coolpi_rk3588s_cp4b"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "coolpi_rk3588s_cp4b"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
